body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.contact-links .fa-4x {
  vertical-align: middle;
}

.navbar {
  background-color: rgba(111, 112, 113, .90)
}

.navbar-default .navbar-nav>li>a {
  font-weight: bold;
  color: #FFFFFF;
}

a:hover {
  color: #252525;
}

h1,
h4 {
  margin: 0;
  font-family: Barlow, sans-serif;
  line-height: 50px;
}

#logo {
  background-color: rgba(255, 255, 255, .93);
  border-radius: 5px;
  color: #252525;
  width: 350px;
  padding: 35px 0;
}

.social {
  padding-top: 35px;
  color: rgb(255, 255, 255);
}

.social li {
  display: inline;
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding-top: 200px;
  width: 100%;
  height: 600px;
  background: url("https://wallpapercave.com/wp/evlmhV0.jpg") repeat;

}

#about-link {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#portfolio-link {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#contact-me-link {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.about-me {
  padding: 75px 20px;
  background-color: rgba(90, 90, 90, .4);
  font-size: 1.15em;
}

.about-me img {
  max-height: 250px;
  border-radius: 50%;
  border: 7px solid #252525;
}

#bio {
  padding: 20px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.portfolio img {
  border: 5px solid rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  padding: 0;
}

.portfolio .row {
  margin: 75px 20px
}

.portfolio h2 {
  margin-top: 75px;
}

.portfolio h3 {
  padding-top: 40px;
  color: rgb(30, 144, 255);
}

.portfolio .col-sm-6 {
  padding: 0;
}

.contact {
  padding: 2px 20px;

  background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455475485/Portfolio/tweed.png");
}

.contact-links li,
.contact h4 {
  color: white;
}

.contact-links li {
  font-size: 1.25em;
  list-style-type: none;
  line-height: 70px;
}

.contact-links i {
  margin-right: 50px;

}

.contact h1 {
  color: white;
}

#have-chat {
  padding-top: 75px
}

footer {
  text-align: center;
  color: #252525;
  height: 140px;
  background: rgb(100, 100, 100,.5);
  padding-top: 50px
}

#footer-links li {
  display: inline;
  padding: 0px 40px;
  border-right: 1px solid black;
}

#footer-links li:nth-child(4) {
  border-right: none;
}

@media only screen and (max-width: 770px) {
  .about-me img {
    display:block;
    margin: 0 auto;
  }
  .portfolio img {
    max-width: 150px;
    margin-top: 170px;
  }

  #have-chat {
    padding-top: 20px;
  }

  .contact-links {
    padding-top: 35px;
  }

  #footer-links li {
    padding: 0 15px;
  }


}
